* {
  font-family: sans-serif;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

button {
  border: 2px solid rgb(3, 3, 3);
  background: rgb(249, 249, 249);
  margin-right: 5px;
  cursor: pointer;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: #96121fd2;
  color: rgb(255, 255, 255);
}
button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
  background: #dd283a;
}
button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px 2px #ccc;
}
button:hover {
  /*background-color: rgb(13, 189, 104);*/
  background-color: rgb(68, 110, 235);
  color: #ffffff;
}

.App {
  text-align: center;
}
